body {
}


.titledisplay {
    padding-top: 5px;
    padding-bottom: 15px;
}

.inner-signup {
    padding: 10px;
}

.signup-userbox {
    background-color: #efefef;
}

.signup-servicebox {
    background-color: #fff;
    text-align: right;
}

.btn-signup {
}

    .btn-signup > input {
        width: 100%;
    }

.btn-dontpanic {
    background-color: #65A591;
    background-image: -webkit-linear-gradient(top, #75bfa9, #65A591);
    background-image: -moz-linear-gradient(top, #75bfa9, #65A591);
    background-image: -ms-linear-gradient(top, #75bfa9, #65A591);
    background-image: -o-linear-gradient(top, #75bfa9, #65A591);
    background-image: linear-gradient(to bottom, #75bfa9, #65A591);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    text-shadow: 0px 0px .5px 2px #828282;
    font-family: 'Century Gothic';
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    padding: 1px 37px 1px 37px;
    border: solid rgba(94, 133, 121, 0.60) 1.5px;
    text-decoration: none;
    height:auto;
    display: inline-block;
    margin-bottom: 0;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

    .btn-dontpanic:hover {
        background-color: #497769;
        background-image: -webkit-linear-gradient(top, #65A591, #497769);
        background-image: -moz-linear-gradient(top, #65A591, #497769);
        background-image: -ms-linear-gradient(top, #65A591, #497769);
        background-image: -o-linear-gradient(top, #65A591, #497769);
        background-image: linear-gradient(to bottom, #65A591, #497769);
        text-decoration: none;
    }



.howitworksblock {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    font-family: 'Century Gothic';
    background-color: #fff;
}

.wrapper {
    width: 950px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-left: 0 auto;
}

.dynamic-row {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.column-4 {
    display: inline;
    float: left;
    width: 150px;
    margin: 0 5px;
    min-height: 1px;
}

.whyblock {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    align-items: center;
    font-family: 'Century Gothic';
    background-color: #FFFFFF;
}

.inner-shadow {
    -moz-box-shadow: inset 0 0 0.8px #000000;
    -webkit-box-shadow: inset 0 0 0.8px #000000;
    box-shadow: inset 0 0 0.8px #000000;
}

.drop-shadow {
    -moz-box-shadow: 0px 0px 8px 1px #000;
    -webkit-box-shadow: 0px 0px 8px 1px #000;
    box-shadow: 0px 0px 8px 1px #000;
}

.green-border {
    border-color: #65A592;
}

.green-text {
    color: #65A592;
}

.rounded-corners {
    border: 3px solid #65A592;
    background-color: #efefef;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 8px 1px #000;
    -webkit-box-shadow: 0px 0px 8px 1px #000;
    box-shadow: 0px 0px 8px 1px #000;
    max-width: 400px;
}

.drop-shadow-lite {
    -moz-box-shadow: 0px 0px 2px 0.5px #000;
    -webkit-box-shadow: 0px 0px 2px 0.5px #000;
    box-shadow: 0px 0px 2px 0.5px #000;
}

.container-form {
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
    max-width: 300px;
}

.centertext {
    text-align: center;
}

.user-register-form {
    border: 0.5px solid #65A592;
    background: #FFFFFF;
    max-width: 550px;
    border-radius: 25px;
}

.postajob-body {
    max-width: 225px;
    background-color: #efefef;
    border: 3px solid #65A592;
    border-radius: 5px;
    z-index: 100;
    float: right;
}

.postajob-center {
    text-align: left;
}

.postajob-title {
    background-color: #497769;
    margin: 0 auto;
    padding-top: 1px;
    padding-bottom: 1px;
}

    .postajob-title > h2 {
        color: #fff;
        text-shadow: 0px 0px .5px 2px #828282;
        text-align: center;
    }

.postajob-content {
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    text-align: center;
}

    .postajob-content > p {
        text-align: center;
    }


.introblock {
    padding-top: 25px;
    padding-bottom: 10px;
}

.introblock-text {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    text-align: left;
    font-weight: bold;
    float: left;
    color: rgba(0, 0, 0, 0.50);
    font-size: 22px;
}

.outerintroblock {
    background-image: url('../Images/background.jpg');
    background-color: #77B783;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #65A592;
    border-radius: 5px;
    height: 270px;
}


@media (max-width: 4000px) {
    .outerintroblock {
        padding-left: 600px;
        padding-right: 600px;
    }
}

@media (max-width: 1920px) {
    .outerintroblock {
        padding-left: 300px;
        padding-right: 300px;
    }
}

@media (max-width: 1357px) {
    .outerintroblock {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media (max-width: 991px) {
    .outerintroblock {
        padding-left: 120px;
        padding-right: 120px;
        height: auto;
    }

    .introblock-text {
        text-align: center;
    }

    .postajob-body {
        float: none;
    }

    postajob-center {
        margin: 0 auto;
    }
}

@media (max-width: 770px) {
    .outerintroblock {
        padding-left: 120px;
        padding-right: 120px;
    }
}

@media (max-width: 545px) {
    .outerintroblock {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 320px) {
    .outerintroblock {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.postjob-form {
}

.postjob-text {
}

.supportBar {
    background-color: #fff;
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
}

    .supportBar > p > a {
        color: #497769;
    }

.footerBar {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 3px;
    text-align: center;
    background-color: #497769;
}

    .footerBar > footer > p {
        color: #fff;
    }

.contentBackground {
    background-image: url('../Images/background.jpg');
    background-color: #77B783;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.browse-jobs-block {
    border: 3px solid #65A592;
    background-color: #efefef;
    border-radius: 5px;
    max-width: 625px;
}

.job-block {
    padding: 5px;
    border: 1.5px solid #65A592;
    border-radius: 5px;
    background-color: rgba(117, 191, 169, 0.36);
}

.job-block-title {
    font-size: 24px;
    color: #497769;
}

.job-block-detail-left {
    text-align: left;
}

.job-block-detail-right {
    text-align: right;
}

.job-block-image {
    border: 1.5px solid #65A592;
    border-radius: 5px;
}


.job-details-description-title {
    padding:5px;
    text-align: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.50);
    font-size: 18px;
}

.job-details-description-text{
    padding:5px;
    text-align:center;
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-weight:bold;
}
.job-details-description-information{
    padding:5px;
    text-align:center;
    color: rgb(143, 143, 143);
    font-size: 14px;
    font-weight:bold;
}

.layer3{
    max-width: 520px;
    background-color: #65A591;
    border: 3px solid #497769;
    border-radius: 10px;
    margin:0 auto;
    padding-bottom:15px;
}

.layer3>h4{
    text-align:center;
    font-weight:bold;
    color:#efefef;
}


.layer3>p,
.layer3>p>a{
    text-align:center;
    font-weight:bold;
    color:rgba(239, 239, 239, 0.72);

}

.layer3>form{
    text-align:center;
}

.login-buttons{
    margin:0 auto;
}
.login-dontpanic{
    text-align:center;

}
.login-dontpanic>input{
    width:100%;
}

.login-facebook{
}
.login-facebook>button{
    width:100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.layer-token{
    background-color: #fff;
    border-radius:10px;
    margin:0 auto;
    padding:5px;
    padding-bottom:15px;
    text-align:center;
   
}

.layer-purchasetoken{
    border: 3px solid #65A592;
    background-color: #efefef;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 8px 1px #000;
    -webkit-box-shadow: 0px 0px 8px 1px #000;
    box-shadow: 0px 0px 8px 1px #000;
    max-width: 80%;
}


.layer-content {
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
    max-width: 90%;
    text-align:center;
}

.img-token{
}