body {
}


.titledisplay {
    padding-top: 5px;
    padding-bottom: 15px;
}

.inner-signup {
    padding: 10px;
}

.signup-userbox {
    background-color: #efefef;
}

.signup-servicebox {
    background-color: #fff;
    text-align: right;
}

.btn-signup {
}

    .btn-signup > input {
        width: 100%;
    }

.btn-dontpanic {
    background-color: #65A591;
    background-image: -webkit-linear-gradient(top, #75bfa9, #65A591);
    background-image: -moz-linear-gradient(top, #75bfa9, #65A591);
    background-image: -ms-linear-gradient(top, #75bfa9, #65A591);
    background-image: -o-linear-gradient(top, #75bfa9, #65A591);
    background-image: linear-gradient(to bottom, #75bfa9, #65A591);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    text-shadow: 0px 0px .5px 2px #828282;
    font-family: 'Century Gothic';
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    padding: 3px 15px 3px 15px;
    border: solid rgba(94, 133, 121, 0.60) 1.5px;
    text-decoration: none;
    height: auto;
    margin-bottom: 0;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    width: auto;
}

    .btn-dontpanic:hover {
        background-color: #497769;
        background-image: -webkit-linear-gradient(top, #65A591, #497769);
        background-image: -moz-linear-gradient(top, #65A591, #497769);
        background-image: -ms-linear-gradient(top, #65A591, #497769);
        background-image: -o-linear-gradient(top, #65A591, #497769);
        background-image: linear-gradient(to bottom, #65A591, #497769);
        text-decoration: none;
    }



.howitworksblock {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    font-family: 'Century Gothic';
    background-color: #fff;
}

.wrapper {
    width: 950px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-left: 0 auto;
}

.dynamic-row {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.column-4 {
    display: inline;
    float: left;
    width: 150px;
    margin: 0 5px;
    min-height: 1px;
}

.whyblock {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    align-items: center;
    font-family: 'Century Gothic';
    background-color: #FFFFFF;
}

.inner-shadow {
    -moz-box-shadow: inset 0 0 0.8px #000000;
    -webkit-box-shadow: inset 0 0 0.8px #000000;
    box-shadow: inset 0 0 0.8px #000000;
}

.drop-shadow {
    -moz-box-shadow: 0px 0px 8px 1px #000;
    -webkit-box-shadow: 0px 0px 8px 1px #000;
    box-shadow: 0px 0px 8px 1px #000;
}

.green-border {
    border-color: #65A592;
}

.green-text {
    color: #65A592;
}
.dark-green-text {
    color: #497769;
}

.rounded-corners {
    border: 3px solid #65A592;
    background-color: #efefef;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 8px 1px #000;
    -webkit-box-shadow: 0px 0px 8px 1px #000;
    box-shadow: 0px 0px 8px 1px #000;
    max-width: 400px;
}

.drop-shadow-lite {
    -moz-box-shadow: 0px 0px 2px 0.5px #000;
    -webkit-box-shadow: 0px 0px 2px 0.5px #000;
    box-shadow: 0px 0px 2px 0.5px #000;
}

.container-form {
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
    max-width: 300px;
}

.centertext {
    text-align: center;
}

.user-register-form {
    border: 0.5px solid #65A592;
    background: #FFFFFF;
    max-width: 550px;
    border-radius: 25px;
}

.postajob-body {
    max-width: 225px;
    background-color: #efefef;
    border: 3px solid #65A592;
    border-radius: 5px;
    z-index: 100;
    float: right;
}

.postajob-center {
    text-align: left;
}

.postajob-title {
    background-color: #497769;
    margin: 0 auto;
    padding-top: 1px;
    padding-bottom: 1px;
}

    .postajob-title > h2 {
        color: #fff;
        text-shadow: 0px 0px .5px 2px #828282;
        text-align: center;
    }

.postajob-content {
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    text-align: center;
}

    .postajob-content > p {
        text-align: center;
    }


.introblock {
    padding-top: 25px;
    padding-bottom: 10px;
}

.introblock-text {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    text-align: left;
    font-weight: bold;
    float: left;
    color: rgba(0, 0, 0, 0.50);
    font-size: 22px;
}

.outerintroblock {
    background-image: url('../Images/background.jpg');
    background-color: #77B783;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #65A592;
    border-radius: 5px;
    height: 270px;
}


@media (max-width: 4000px) {
    .outerintroblock {
        padding-left: 600px;
        padding-right: 600px;
    }
}

@media (max-width: 1920px) {
    .outerintroblock {
        padding-left: 300px;
        padding-right: 300px;
    }
}

@media (max-width: 1357px) {
    .outerintroblock {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media (max-width: 991px) {
    .outerintroblock {
        padding-left: 120px;
        padding-right: 120px;
        height: auto;
    }

    .introblock-text {
        text-align: center;
    }

    .postajob-body {
        float: none;
    }

    postajob-center {
        margin: 0 auto;
    }
}

@media (max-width: 770px) {
    .outerintroblock {
        padding-left: 120px;
        padding-right: 120px;
    }
}

@media (max-width: 545px) {
    .outerintroblock {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 320px) {
    .outerintroblock {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.postjob-form {
}

.postjob-text {
}

.supportBar {
    background-color: #fff;
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
}

    .supportBar > p > a {
        color: #497769;
    }

.footerBar {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 3px;
    text-align: center;
    background-color: #497769;
}

    .footerBar > footer > p {
        color: #fff;
    }

.contentBackground {
    background-image: url('../Images/background.jpg');
    background-color: #77B783;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.browse-jobs-block {
    border: 3px solid #65A592;
    background-color: #efefef;
    border-radius: 5px;
    max-width: 625px;
}

.job-block {
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
    background-image: -webkit-linear-gradient(top, #f3f3f3, #d0d0d0);
    background-image: -moz-linear-gradient(top,#f3f3f3, #d0d0d0);
    background-image: -ms-linear-gradient(top,#f3f3f3, #d0d0d0);
    background-image: -o-linear-gradient(top, #f3f3f3, #d0d0d0);
    background-image: linear-gradient(to bottom,#f3f3f3, #d0d0d0);
}

.job-block-title {
    font-size: 24px;
    color: #497769;
}

.job-block-detail-left {
    text-align: left;
}

.job-block-detail-right {
    text-align: right;
}

.job-block-image {
    border: 1.5px solid #65A592;
    border-radius: 5px;
}


.job-details-description-title {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    color: #2f2f2f;
    font-size: 18px;
}

.job-details-description-text {
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-weight: bold;
}

.job-details-description-information {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: rgba(101, 165, 145, 0.76);
    font-size: 14px;
    font-weight: bold;
}

.job-details-title {
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border: 2px #65A591;
    padding: 5px;
    margin:0 auto;
    background-image: -webkit-linear-gradient(top, rgba(101, 165, 145, 0.18), rgba(73, 119, 105, 0.41));
    background-image: -moz-linear-gradient(top,rgba(101, 165, 145, 0.18), rgba(73, 119, 105, 0.41));
    background-image: -ms-linear-gradient(top,rgba(101, 165, 145, 0.18), rgba(73, 119, 105, 0.41));
    background-image: -o-linear-gradient(top,rgba(101, 165, 145, 0.18), rgba(73, 119, 105, 0.41));
    background-image: linear-gradient(to bottom,rgba(101, 165, 145, 0.18), rgba(73, 119, 105, 0.41));
}

.layer3 {
    max-width: 520px;
    background-color: #65A591;
    border: 3px solid #497769;
    border-radius: 10px;
    margin: 10px auto;
    padding-bottom: 15px;
}

    .layer3 > h4 {
        text-align: center;
        font-weight: bold;
        color: #efefef;
    }



    .layer3 > p,
    .layer3 > p > a {
        text-align: center;
        font-weight: bold;
        color: rgba(239, 239, 239, 0.72);
    }

    .layer3 > form {
        text-align: center;
    }

.layer3-user {
    text-align: center;
    margin: 0 auto;
}

    .layer3-user > hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid rgba(138, 138, 138, 0.78);
        margin: 1em 0;
        padding: 0;
    }

.login-buttons {
    margin: 0 auto;
}

.login-dontpanic {
    text-align: center;
}

    .login-dontpanic > input {
        width: 100%;
    }

.login-facebook {
}

    .login-facebook > button {
        width: 100%;
    }

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 999px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.layer-token {
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 10px;
}


.layer-purchasetoken {
    border: 3px solid #65A592;
    background-color: #efefef;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 8px 1px #000;
    -webkit-box-shadow: 0px 0px 8px 1px #000;
    box-shadow: 0px 0px 8px 1px #000;
    max-width: 80%;
}


.layer-content {
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
}

.img-token {
}

.center-content {
    margin: 0 auto;
}

.modal-button {
    padding: 4px;
}

#owl-demo .item {
    margin: 3px;
}

    #owl-demo .item img {
        display: block;
        width: 100%;
        height: auto;
    }
