body {

}

.sloth-container{
    margin:10px;
}

.inner-signup {
    padding-left:10px;
    padding-right:10px;
    margin:15px auto;
}   

.btn-signup{
    margin:0 auto;
}

.btn-signup > input{
    width:90%;
}

