@{
    ViewBag.Title = "Login Failure";
}

<h2>@ViewBag.Title.</h2>
<br />
<div class="container rounded-corners">
    <h2 class="centertext"><font color="#65B5A2">login</font> failed</h2>
    <hr />
    <div class="container-form">
        <h3 class="text-error">Unsuccessful login with service.</h3>
    </div>

</div>
