@{
    ViewBag.Title = "Sign up";
}

<div class="centertext titledisplay">

    <h2 class="centertext"><font color="#efefef">create</font> account</h2>
    <br />
</div>
<div class="container">
    <div class="row">
        <div class="signup-userbox drop-shadow col-md-6">
            <div class="inner-signup">
                <h3>I want to hire professionals</h3>
                <p>Request services, get quotes and hire professionals.</p>

                <div class="btn-signup">
                    <input type="button" class="btn-dontpanic" onclick="location.href='@Url.Action("Signup", "Account")'" value="SIGN UP" />
                </div>
            </div>
        </div>
        <div class="signup-servicebox drop-shadow col-md-6"  >
            <div class="inner-signup">
                <h3>I want to grow my business</h3>
                <p>Reply to leads, close jobs and grow your business.</p>

                <div class="btn-signup">
                    <input type="button" onclick="location.href='@Url.Action("ProviderSignup", "Account")'" class="btn-dontpanic" value="SIGN UP" />
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="centertext">
    <p>Already have an account? <a href="/Account/Login">Log in</a>.</p>
</div>