@{
    ViewBag.Title = "Sign up";
}

<div class="centertext">
        <h2>Create an account</h2>
</div>
<div class="row container">
    <div class="col-md-6">
        <div class="sloth-container inner-signup">
            <h3>I want to hire professionals</h3>
            <p>Request services, get quotes and hire professionals.</p>
            
            <div class="btn-signup">
                <input type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Signup", "Account")'" value="Create account" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="sloth-container inner-signup">
            <h3>I want to grow my business</h3>
            <p>Reply to leads, close jobs and grow your business.</p>
            
            <div class="btn-signup">
                <input type="button" onclick="location.href='@Url.Action("Signup", "ServiceProvider")'" class="btn btn-primary" value="Create account" />
            </div>
         </div>
    </div>
</div>
<br />
<div class="centertext">
    <p>Already have an account? <a href="/Account/Login">Log in</a>.</p>
</div>