
@{
    ViewBag.Title = "PurchaseTokens";
}

<br />
<div class="container rounded-corners">
    <h2 class="centertext"><font color="#65B5A2">purchase</font> tokens</h2>
    <hr />
    <div class="container-form">
        <p class="centertext">Here you can buy bundles of lead tokens! Lead tokens are used to buy leads from the purchase job page. You can also buy jobs individually but it saves you at least 15% to buy tokens in advanced. To purchase lead tokens please select a bundle below.</p>
        <br />
        <div class="row">
            <div class="col-md-4">
                <div class="layer-token drop-shadow">
                    <img src="~/images/TokenBronze.png" class="img-responsive" />
                    <h3>$5</h3>
                    <p>3 tokens</p>
                    <button class="btn-dontpanic" value="Purchase"></button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="layer-token drop-shadow">
                    <img src="~/images/TokenSilver2.png" class="img-responsive" />
                    <h3>$10</h3>
                    <p>7 tokens</p>
                    <button class="btn-dontpanic" value="Purchase"></button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="layer-token drop-shadow">
                    <img src="~/images/TokenGold.png" class="img-responsive" />
                    <h3>$5</h3>
                    <p>12 tokens</p>
                    <button class="btn-dontpanic" value="Purchase"></button>
                </div>
            </div>

        </div>
    </div>
    <hr />
</div>

