@model Dont_Panic_MVC_API.Models.API_Models.ServiceProvider

@{
    ViewBag.Title = "Create";
}

<h2>Register service</h2>


<div class="container">
    <h2>Register to become a don't panic service provider</h2>
    <br />
   
</div>
