@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<br />
<div class="container rounded-corners">
    <h3 class="centertext"><font color="#65B5A2">error</font> encountered</h3>
    <hr />
    <div class="container-form">
        <h4 class="text-danger">An error occurred while processing your request. Please wait while we get this sorted. Sorry for your inconvenience</h4>
    </div>

</div>


