@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<br />
<div class="container rounded-corners">
    <h2 class="centertext"><font color="#65B5A2">error</font> encountered</h2>
    <hr />
    <div class="container-form">
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    </div>

</div>


