@{
    ViewBag.Title = "About";
}
<br />
<div class="container rounded-corners">
    <h2 class="centertext"><font color="#65B5A2">about</font> us</h2>
    <hr />
    <div class="container-form">
        <p>Don't Panic is a blah bleh bluh.</p>
        <p>ughhhhhhh</p>
    </div>

</div>
