@{
    ViewBag.Title = "Contact";
}
<br />
<div class="container rounded-corners">
    <h2 class="centertext"><font color="#65B5A2">contact</font> us</h2>
    <hr />
    <div class="container-form">

        <address>
            Rarespawn<br />
            Te Aro, Wellington 6011<br />
            <abbr title="Phone">P:</abbr>
            +64 21 0243 8965
        </address>

        <strong>Support:</strong> <a href="mailto:yaohong.chun@outlook.com">yaohong.chun@outlook.com</a>

    </div>
    <hr />
</div>


