@model Dont_Panic_MVC_API.Models.ViewJob
@{

    ViewBag.Title = "Find local trades and services in New Zealand";
}
<script type="text/javascript" language="javascript">
    function postJob() {
        var titlebox = document.getElementById("title");
        var category = document.getElementById("jobtype");
        if (titlebox.value.length > 0) {
            sessionStorage.jobtitle = titlebox.value;
            sessionStorage.jobtype = category.value;
            window.location.href = "/Job/Create";
        }
    }
    $(document).ready(function () {
        if (sessionStorage.suburb != "undefined") {
            window.location.href = "/Job/Create";
        }
    });
</script>
<div class="outerintroblock">
    <div class="introblock ">
        <div class="row">
            <div class="col-md-6 postajob-center">
                    <div class="postajob-body drop-shadow">
                        <div class="postajob-title">
                            <h2>POST A JOB</h2>
                        </div>

                        <div class="postajob-content">
                            <p>Get started right away by posting your job!</p>
                            <p id="test"></p>
                            @Html.TextBoxFor(model => model.title, new { @required=true, @name = "title", @id = "title", @class = "form-control", @placeholder = "Job title", @type = "text" })
                            
                            <br />
                            <select class="form-control" required id="jobtype" name="jobtype">
                                <option>Plumbing</option>
                                <option>Electrical</option>
                                <option>Business</option>
                                <option>Crafts</option>
                                <option>Design and web</option>
                                <option>Legal</option>
                                <option>Personal</option>
                                <option>Pets</option>
                                <option>Photography</option>
                                <option>Repair services</option>
                                <option>Writing/Translation</option>
                            </select>
                            <hr />
                            <input type="submit" onclick="postJob()" value="Post" class="btn-dontpanic" />

                        </div>

                    </div>

            </div>
            <div class="col-md-6">
                <div class="introblock-text">
                    <br />
                    <p>Good Job is a free web-tool connecting you with available service providers for a fast, quality solution</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="howitworksblock inner-shadow">
    <div class="container">
        <br />
        <h2>How does <font color="#65a591">good</font><font color="#424242">job</font> work?</h2><br />

        
        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/noteGreen.png" /><br /><br />
                <h4>
                    Give us details about your problem to create a job
                </h4>
            </div>
            <div class="col-md-4">
                <img src="~/Images/phoneGreen.png" /><br /><br /><h4>
                    Get contacted by available service providers quickly
                </h4>
            </div>
            <div class="col-md-4">
                <img src="~/Images/revGreen.png" /><br /><br /><h4>Compare service providers and hire the best one for you!</h4>
            </div>
        </div>

    </div>
</div>
