@model Dont_Panic_MVC_API.Models.ViewJob
@{

    ViewBag.Title = "Home Page";
}
<div class="outerintroblock">
    <div class="introblock">

        <div class="row">
            <div class="col-md-4">
                @using (Html.BeginForm("Create", "Job", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="postajob-body">
                        <div class="postajob-title">
                            <h2>POST A JOB</h2>
                        </div>

                        <div class="postajob-content">
                            <p>Get started right away by posting your job!</p>

                            @Html.TextBoxFor(model => model.title, new { @name = "title", @id = "title", @class = "form-control", @placeholder = "Job title", @type = "text" })
                            <br />
                            <select class="form-control" required id="jobtype" name="jobtype">
                                <option>Plumbing</option>
                                <option>Electrical</option>
                                <option>Business</option>
                                <option>Crafts</option>
                                <option>Design and web</option>
                                <option>Legal</option>
                                <option>Personal</option>
                                <option>Pets</option>
                                <option>Photography</option>
                                <option>Repair services</option>
                                <option>Writing/Translation</option>
                            </select>
                            <hr />
                            <input type="submit" value="Post" class="btn-dontpanic" />

                        </div>

                    </div>

                }
            </div>
            <div class="col-md-8">
                <div class="introblock-text">
                    <p>Don't Panic has a database of over</p>
                    <h1>SEVEN (7!!!)</h1>
                    <h2>Service Providers!</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="whyblock">
    <div class="container ">
        <h1>Why should I use <font color="#65B5A2">don't</font><font color="#424242">panic</font>?</h1>
        <div class="row container">
            <div class="col-md-3">
                <h3>Multiple quotes</h3>
                <h5>Get <font color="#65B5A2">several</font> options</h5>
            </div>
            <div class="col-md-3">
                <h3>Compare prices</h3>
                <h5>Get a great <font color="#65B5A2">deal</font></h5>
            </div>
            <div class="col-md-3">
                <h3>Verified reviews</h3>
                <h5>Hire the <font color="#65B5A2">best</font> pro</h5>
            </div>
            <div class="col-md-3">
                <h3>Free to use</h3>
                <h5>No <font color="#65B5A2">obligation</font> to hire</h5>
            </div>

        </div>

    </div>
</div>

<div class="howitworksblock inner-shadow">
    <div class="container">
        <h1>How does <font color="#FFFFF">don't</font><font color="#424242">panic</font> work?</h1><br />
        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/1.png" /><br /><br /><h3>Answer a few questions about your needs</h3>
            </div>
            <div class="col-md-4">
                <img src="~/Images/2.png" /><br /><br /><h3>Available pros submit quotes within 24 hours</h3>
            </div>
            <div class="col-md-4">
                <img src="~/Images/3.png" /><br /><br /><h3>Compare your quotes & hire the best pro</h3>
            </div>
        </div>

    </div>
</div>

<div class="whyblock">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="/Job/Create"> <img src="~/Images/buttonsTest1.png" /></a>
                <h2>Something broken?<br />Post it now.</h2>
            </div>
            <div class="col-md-6">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/Job/Index"> <img src="~/Images/buttonTest2.jpg" /></a>
                    <h2>Manage your Jobs.</h2>
                }
                else
                {
                    <a href="/Account/Login"> <img src="~/Images/buttonTest2.jpg" /></a>
                    <h2>Sign in now.</h2>
                }
            </div>

        </div>

    </div>

</div>