@{
    Layout = "~/Views/Home/_LayoutHome.cshtml";
    ViewBag.Title = "Home Page";
}

<div id="dontpaniccarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#dontpaniccarousel" data-slide-to="0" class="active"></li>
        <li data-target="#dontpaniccarousel" data-slide-to="1"></li>
        <li data-target="#dontpaniccarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Zachplaceholder.jpg" />
            <div class="carousel-caption">
                <p class="lead">Don&#39;t Panic is a free service that allows you to post a job for services you need in a hurry so servicemen like hong can get hold of you fast.</p>

                <input type="button" id="index_button_Have_Job" class="btn btn-primary" value="I have a Job " onclick="location.href='@Url.Action("Index", "Job")'" />
                <input type="button" id="index_button_Sign_in" class="btn btn-primary" value="Sign In" onclick="location.href='@Url.Action("Login", "Account")'" />

            </div>
        </div>
        <div class="item">
            <img src="~/Mitchplaceholder.jpg" />
            <div class="carousel-caption">
                mitch place holder. Blah blah blah blah more blah and more blah blah bleh blah bleh blah blehhh
            </div>
        </div>
        <div class="item">
            <img src="~/Zachholdplace.jpg" />
            <div class="carousel-caption">
                hong place holder
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#dontpaniccarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#dontpaniccarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div class="container whyblock">
    <div class="row">
        <div class="col-md-6">
            <a href="/Job"> <img src="~/buttonsTest1.png" /></a>
            <h2>Something broken?<br />Post it now.</h2>
        </div>
        <div class="col-md-6">
            <a href="/Account/Login"> <img src="~/buttonTest2.jpg" /></a>
            <h2>Sign in now.</h2>
        </div>

    </div>

</div>


<div class="howitworksblock">
    <div class="container">
        <h1>How does <font color="#FFFFF">don't </font><font color="#424242">panic</font> work?</h1><br />
        <div class="row">
            <div class="col-md-4">
                <img src="~/1.png" /><br /><br />Answer a few questions about your needs
            </div>
            <div class="col-md-4">
                <img src="~/2.png" /><br /><br />Available pros submit quotes within 24 hours
            </div>
            <div class="col-md-4">
                <img src="~/3.png" /><br /><br />Compare your quotes & hire the best pro
            </div>
        </div>

    </div>
</div>



